
#flyoutMenu {
display: flex;
flex-direction: column;
justify-content: center;
width: 100vh;
height: 100vh;
text-align: center;
padding: 5px;
position: fixed;
top: 0;
left: 0;
transition: transform 0.3s ease-in-out;


}

a:hover {
  /* background-color: #96D9FF; */
  background-image: url(https://images4.alphacoders.com/106/thumb-350-106826.jpg);
  cursor: pointer;
  border-color: #003557;
  transform: scale(1.1, 1.1);
  border-radius: 20px;
}
#flyoutMenu a {
  font-family: 'Cabin', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  padding: 30px;
  font-weight: bold;
  letter-spacing: 0.5rem;
  text-decoration: none;
  transition: color 0.3s linear;

  
  @media (max-width: 757px) {
    font-size: 1.5rem;
    text-align: center;
  }
}
#flyoutMenu {
  width: 425px;
  /* width: 100vw;
  height: 100vh; */
background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
}
 
#flyoutMenu.hide {
  transform: translate3d(-100vw, 0, 0);
}
 
#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}
 
#flyoutMenu a {
  color: #333;
  margin-left: 15px;
  text-decoration:none;
}
 
#flyoutMenu a:hover {
  text-decoration: underline;
}