#muscle_groups{
    display: inline-flex;
    padding: 5px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

#muscle_groups a img{
    height: 40vh;
    flex-grow: 2;

}

  img {
    height: 240px;
    width: 330px;
    margin-bottom:30px;
    padding-left: 50px;
    padding-right: 50px;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: 100px;
  
  }

  #muscle_groups{
    width: 100vw;
  height: 100vh;
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQITQMI3CJ873s0waz8Ro3aJcNbb14N5LdR1w&usqp=CAU); */
  height:1;
  border-radius: 10px;
}

